
.card-title{
  font-size: 70%;
}

.card{
  background-repeat:no-repeat;
  max-width: 100%;
  height: auto;
  background-position:center center;
  background-image: url(images/bg.jpg) no-repeat center center; 
  background-size: cover;
  padding: 10px;
  
}

img{
  z-index: -1;
}