<div class='new_dose_title'>
  <h1><strong>Nova Dose</strong></h1>
</div>


<div class='new_dose_form'>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%#= f.input :cocktail_id, :as => :hidden, :input_html => { :value => @cocktail.id }%>
    <%= f.association :ingredient, value_method: :id, label_method: :ingredient_name %>
    <%= f.button :submit %>
  <% end %>
</div>