<h1>New Dose for Dose#new</h1>
<p>Find me in app/views/dose/new.html.erb</p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%#= f.input :cocktail_id, :as => :hidden, :input_html => { :value => @cocktail.id }%>
  <%= f.association :ingredient, value_method: :id, label_method: :ingredient_name %>
  <%= f.button :submit %>
<% end %>
