

.card-image{
  position: relative;
  height: 200px;
  width: 200px;
}

.card-content{
  position: absolute;
  bottom: 23px;
    left: 38px;
}

.container{
  padding: 50px;
}

.card-title{
  color: white;
  font-size: 15px;
}

.flex-container{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.flex-item{
  text-align: center;
  padding: 20px;
}