.cocktail_title{
  position: absolute;
  margin: 0 0 0 40px;
}


.detail-image{
  position: relative;
  top: 88px;
  left: 10px;
  height: 400px;
  width: 400px;
  border-radius: 10%;
}


.detail-content{
  position: relative;
  top: 100px;
  left: 20px;
  height: 400px;
  width: 400px;
}

.bottom-btn{
  position: relative;
  bottom: 176px;
  left: 20px;
}

text-left{
  text-align: left;
}